@font-face {
  font-family: GDS-Logo;
  src: local("HelveticaNeue"),
       local("Helvetica Neue"),
       local("Arial"),
       local("Helvetica");
}

$helvetica-regular:
    "GDS-Logo",
    sans-serif;
