// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$govuk-global-images: "/public/images/";

// global styles for <a> and <p> tags
$govuk-global-styles: true;

//Import GOV.UK Frontend
@import "@govuk-frontend/frontend/all";

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/related-items';

@import 'vendor/accessible-autocomplete';

@import 'font-stack';
@import 'header';
@import 'organisation-colours';
@import 'organisation-logo';
@import 'tabs';

.code {
  color: $govuk-text-colour;
  background-color: $govuk-grey-4;

  text-shadow: 0 1px $govuk-white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  border: 1px solid $govuk-border-colour;
  padding: 4px 4px 2px;
}


// Local fixes to GOV.UK frontend

.markdown hr {
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "top");
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
}

.govuk-list + .govuk-heading-l,
.govuk-list + .govuk-heading-m,
.govuk-list + .govuk-heading-s,
.govuk-prose-scope ul + h2,
.govuk-prose-scope ul + h3,
.govuk-prose-scope ul + h4,
.govuk-prose-scope pre + h2,
.govuk-prose-scope pre + h3,
.govuk-prose-scope pre + h4 {
  @include govuk-responsive-padding($govuk-spacing-responsive-4, "top");
}

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';



// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.govuk-check-your-answers__section {
  position: relative;
  border-bottom: 1px solid $govuk-border-colour;
  margin-bottom: $govuk-gutter;

  @include mq($from: desktop) {
    display: table;
    width: 100%;
  }

  .govuk-check-your-answers {
    @include mq($from: desktop) {
      display:block;
    }
  }
  .govuk-check-your-answers__contents,
  .govuk-check-your-answers__question,
  .govuk-check-your-answers__answer,
  .govuk-check-your-answers__change {
    border-bottom: none;
  }
}


.govuk-check-your-answers__section-heading {
  @include mq($from: desktop) {
    display: table-row;
  }

  .govuk-check-your-answers__change {
    @include govuk-font-regular-19;
    display: block;
    margin: 0;
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;

    @include mq($from: desktop) {
      position: static;
      display: table-cell;
    }
  }
}

.govuk-button--secondary {
  background-color: $govuk-blue;
  box-shadow: 0 2px 0 darken($govuk-blue, 10%);

  &:hover,
  &:focus {
    background-color: lighten($govuk-blue, 10%);
  }

  &:active {
    top: 2px;
    box-shadow: none;

    @include govuk-if-ie8 {
      border-bottom-width: 0;
    }
  }
}


.actions {
  a.govuk-c-button {
    margin-bottom: 15px;
  }
  ul {
    margin-bottom: 0;
    li:last-child {
      margin-bottom: 0;
    }
  }
}

.side-column {
  margin-top: 30px;
  padding: 25px;
  background: $govuk-grey-4;
}

.metadata {
  & dt, & dd {
    display: inline-block;
    font-size: 16px;
  }

  dt {
    width: 20%;
  }

  dd {
    width: 79%;
    margin-left: 0;
  }
}

.empty-field {
  color: $govuk-secondary-text-colour;
}

.js-remove-org {
  margin-left: 5px;
}
