{% extends "layout.html" %}
{% block page_title %}Change organisation status{% endblock %}

{% block content %}
<main role="main" class="govuk-main-wrapper">
  <a class="govuk-back-link" href="/overview">Back</a>

  <form action="/change-status" method="post" class="form">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Change status
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {{ govukRadios ({
          "id-prefix": "org-status",
          "name": "org_status",
          "fieldset": {
            "legend": {
              "text": "How do you want to change this organisation?",
              "isPageHeading": false,
              "classes": 'govuk-fieldset__legend--m'
            }
          },
          "items": [
            {
              "value": "replace",
              "text": "Replace with one or more existing organisations"
            },
            {
              "value": "merge",
              "text": "Merge with one or more organisations"
            },
            {
              "value": "rename",
              "text": "Rename this organisation"
            },
            {
              "value": "close",
              "text": "Close this organisation"
            }
          ]
        }) }}

        {{ govukButton ({
          "text": "Save and continue"
        })}}
      </div>
    </div>

  </form>
</main>

{% endblock %}
