{% extends "layout.html" %}
{% block page_title %}Organisation logo{% endblock %}

{% block content %}
<main role="main" class="govuk-main-wrapper">
  {{ govukBackLink({
    "text": "Back",
    "href": "/organisation-details"
  }) }}

  <form action="/overview" method="post" class="form">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          Organisation logo
        </h1>
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds" data-module="radios">

        {% if data['organisation_type'] != "executive_office"
          and data['organisation_type'] != "ministerial_department"
          and data['organisation_type'] != "non_ministerial_department"
          and data['organisation_type'] != "executive_agency"
        %}
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">
                Logo type
              </h1>
            </legend>
            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="org-crest-type-1" name="org_logo_type" type="radio" value="no-identity">
                <label class="govuk-label govuk-radios__label" for="org-crest-type-1">
                  No identity
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="org-crest-type-2" name="org_logo_type" type="radio" value="single-identity" data-aria-controls="single-identity-fields">
                <label class="govuk-label govuk-radios__label" for="org-crest-type-2">
                  Single identity
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="org-crest-type-3" name="org_logo_type" type="radio" value="custom-logo" data-aria-controls="custom-logo-fields">
                <label class="govuk-label govuk-radios__label" for="org-crest-type-3">
                  Custom logo
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        {% else %}
        <input type="hidden" name="org_logo_type" value="single-identity">
        {% endif %}

        {% if data['organisation_type'] != "executive_office"
          and data['organisation_type'] != "ministerial_department"
          and data['organisation_type'] != "non_ministerial_department"
          and data['organisation_type'] != "executive_agency"
        %}
        <div class="govuk-radios__conditional" id="single-identity-fields">
          {{ govukTextarea ({
            "id": "org-logo-formatted-title-textarea",
            "name": "org_logo_formatted_title",
            "label": { "text": "Logo formatted title", "classes": "govuk-label--m" },
            "hint": { "text": "This is how the text should look with line breaks" },
            "classes": "govuk-input--width-10"
          }) }}

          {{ govukSelect ({
            "label": { "text": "Crest type", "classes": "govuk-label--m" },
            "id": "org-logo-crest-select",
            "name": "org_logo_crest",
            "items": org_crests
          }) }}
          </div>

        <div class="govuk-radios__conditional" id="custom-logo-fields">
          {{ govukFileUpload({
            id: 'org_logo_upload_input',
            name: 'org_logo_upload',
            label: { "text": "Upload a logo", "classes": "govuk-label--m" }
          }) }}
        </div>
        {% else %}
        {{ govukTextarea ({
          "id": "org-logo-formatted-title-textarea",
          "name": "org_logo_formatted_title",
          "label": { "text": "Logo formatted title", "classes": "govuk-label--m" },
          "hint": { "text": "This is how the text should look with line breaks" },
          "classes": "govuk-input--width-10"
        }) }}

        {{ govukSelect ({
          "label": { "text": "Crest type", "classes": "govuk-label--m" },
          "id": "org-logo-crest-select",
          "name": "org_logo_crest",
          "items": org_crests
        }) }}
        {% endif %}

        {{ govukSelect ({
          "label": { "text": "Brand colour", "classes": "govuk-label--m" },
          "id": "org-logo-brand-select",
          "name": "org_logo_brand",
          "items": org_brand_colours
        }) }}

        <h2 class="govuk-heading-m">Preview</h2>

        {{ govukButton ({
          "text": "Save and continue"
        })}}
      </div>
    </div>

  </form>
</main>
{% endblock %}
