{% extends "layout.html" %}
{% block page_title %}Dashboard{% endblock %}

{% from "includes/empty_field.html" import empty_field %}

{% block content %}
<main role="main" class="govuk-main-wrapper">
  <h1 class="govuk-heading-l">
    Overview
  </h1>

  <dl class="metadata govuk-!-mb-r6">
    <dt>Created by</dt>
    <dd>Kamala Khan</dd>
    <dt>Last updated</dt>
    <dd>20 February 2018</dd>
    <dt>Status</dt>
    <dd>
      {% if org.status == "" or org.status == null %}Published{% else %}{{ org.status }}{% endif %}
    </dd>
  </dl>

  <ul class="tabs">
    <li class="active">
      <a href="{{ urlPrefix }}/edit">Edit details</a>
    </li>
    <li>
      <a href="{{ urlPrefix }}/publishers">Publisher access</a>
    </li>
  </ul>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-check-your-answers__section">

        <div class="govuk-check-your-answers__section-heading">
          <h2 class="govuk-heading-m">
            Organisation details
          </h2>
          <span class="govuk-check-your-answers__change"><a href="/edit">Change</a></span>
        </div>

        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Title
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.title) }}
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Acronym
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.acronym) }}
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Organisation type
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.formatted_organisation_type) }}
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Status on GOV.UK
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {% if org.organisation_state == "live" %}
                Currently live
              {% elif org.organisation_state == "coming_soon" %}
                Coming soon
              {% elif org.organisation_state == "exempt" %}
                Exempt from joining
              {% elif org.organisation_state == "transitioning" %}
                Currently transitioning
              {% elif org.organisation_state == "closed" %}
                Closed
              {% endif %}
            </dd>
          </div>

          {% if data['org_status'] == "exempt" %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              External URL
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.external_url) }}
            </dd>
          </div>
          {% endif %}

          {% if data['org_status'] == "closed" %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Superceded by
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.superceding_organisations) }}
            </dd>
          </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Sponsoring organisations
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.sponsoring_organisations) }}
            </dd>
          </div>
        </dl>
      </div>

      <div class="govuk-check-your-answers__section">
        <div class="govuk-check-your-answers__section-heading">
          <h2 class="govuk-heading-m">
            Organisation logo
          </h2>
          <span class="govuk-check-your-answers__change"><a href="/edit">Change</a></span>
        </div>

        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Logo type
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {% if org.organisation_crest == "no-identity" %}
                No identity
              {% elif org.organisation_crest == "single-identity" %}
                Single indentity
              {% elif org.organisation_crest == "custom-logo" %}
                Custom logo
              {% endif %}

            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Brand colour
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.organisation_brand) }}
            </dd>
          </div>

          {% if org.organisation_crest != "no-identity" or org.organisation_crest != "" %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Formatted title
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.logo_formatted_title) }}
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Crest type
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.formatted_crest) }}
            </dd>
          </div>
          {% endif %}

          {% if org.organisation_crest == "custom" %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Custom logo
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org.logo_url) }}
            </dd>
          </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Logo preview
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {% if org.logo_formatted_title == '' %}
                {% set org_formatted_title = data['org_title'] %}
              {% else %}
                {% set org_formatted_title = org.logo_formatted_title %}
              {% endif %}

              {% if org.organisation_crest == "no-identity" %}
                {% set org_brand = "no-identity" %}
              {% else %}
                {% set org_brand = org.organisation_brand %}
              {% endif %}

              {{ organisation_logo(org_formatted_title | nl2br | safe, org_brand, org.logo_url, org.organisation_crest, false, org.title) }}
            </dd>
          </div>
        </dl>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="side-column">
        <div class="actions">
          <p>
            {{ govukButton({
              text: "Publish",
              href: "/publish" })}}
          </p>

          <p>
            <a href="/change-status">Change status</a>
          </p>
        </div>
      </div>
    </div>


  </div>
</main>
{% endblock %}
