{% extends "layout.html" %}
{% block page_title %}Dashboard{% endblock %}

{% from "includes/empty_field.html" import empty_field %}

{% block content %}
<main role="main" class="govuk-main-wrapper">
  <h1 class="govuk-heading-l">
    Overview
  </h1>

  <ul class="tabs">
    <li class="active">
      <a href="{{ urlPrefix }}/edit">Edit details</a>
    </li>
    <li>
      <a href="{{ urlPrefix }}/publishers">Publisher access</a>
    </li>
  </ul>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-check-your-answers__section">

        <div class="govuk-check-your-answers__section-heading">
          <h2 class="govuk-heading-m">
            Organisation details
          </h2>
          <span class="govuk-check-your-answers__change"><a href="/edit">Change</a></span>
        </div>

        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Title
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(data['org_title']) }}
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Acronym
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(data['org_acronym']) }}
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Organisation type
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org_type_formatted) }}
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Status on GOV.UK
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {% if data['org_status'] == "live" %}
                Currently live
              {% elif data['org_status'] == "coming_soon" %}
                Coming soon
              {% elif data['org_status'] == "exempt" %}
                Exempt from joining
              {% elif data['org_status'] == "transitioning" %}
                Currently transitioning
              {% elif data['org_status'] == "closed" %}
                Closed
              {% endif %}
            </dd>
          </div>

          {% if data['org_status'] == "exempt" %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              External URL
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(data['org_url']) }}
            </dd>
          </div>
          {% endif %}

          {% if data['org_status'] == "closed" %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Superceded by
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(data['superceding_organisations']) }}
            </dd>
          </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Sponsoring organisations
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(data['sponsoring_organisations']) }}
            </dd>
          </div>
        </dl>
      </div>

      <div class="govuk-check-your-answers__section">
        <div class="govuk-check-your-answers__section-heading">
          <h2 class="govuk-heading-m">
            Organisation logo
          </h2>
          <span class="govuk-check-your-answers__change"><a href="/edit">Change</a></span>
        </div>

        <dl class="govuk-check-your-answers govuk-check-your-answers--short">
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Logo type
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {% if data['org_logo_type'] == "no-identity" %}
                No identity
              {% elif data['org_logo_type'] == "single-identity" %}
                Single indentity
              {% elif data['org_logo_type'] == "custom-logo" %}
                Custom logo
              {% endif %}

            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Brand colour
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(org_brand_formatted) }}
            </dd>
          </div>

          {% if data[org_logo_type] == "single-identity" %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Formatted title
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(data['org_logo_formatted_title']) }}
            </dd>
          </div>

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Crest type
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(data['org_logo_crest']) }}
            </dd>
          </div>
          {% endif %}

          {% if data[org_logo_type] == "custom-logo" %}
          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Custom logo
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {{ empty_field(data['org_logo_upload']) }}
            </dd>
          </div>
          {% endif %}

          <div class="govuk-check-your-answers__contents">
            <dt class="govuk-check-your-answers__question">
              Logo preview
            </dt>
            <dd class="govuk-check-your-answers__answer">
              {% if data['org_logo_formatted_title'] == '' %}
                {% set org_formatted_title = data['org_title'] %}
              {% else %}
                {% set org_formatted_title = data['org_logo_formatted_title'] %}
              {% endif %}

              {% if data['org_logo_type'] == "no-identity" %}
                {% set org_brand = "no-identity" %}
              {% else %}
                {% set org_brand = data['org_logo_brand'] %}
              {% endif %}

              {{ organisation_logo(org_formatted_title | nl2br | safe, org_brand, data['org_url'], data['org_logo_crest'], false, data['org_title'], large) }}
            </dd>
          </div>
        </dl>
      </div>

      <div class="actions">
        <p>
          {{ govukButton({
            text: "Edit details",
            href: "/edit" })}}
        </p>

        <p>
          {{ govukButton({
            text: "Change status",
            href: "/change-status" })
          }}
        </p>

      </div>
    </div>
  </div>
</main>
{% endblock %}
