{% extends "layout.html" %}

{% block page_title %}
  Start page
{% endblock %}

{% block content %}

<div class="govuk-width-container">

  <main role="main" class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

        <h1 class="govuk-heading-l">
          Get started
        </h1>

        <h2 class="govuk-heading-m">Create a new organisation</h2>

        <p></p>

        <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="/create-organisation" role="button">Start now</a>

        <h2 class="govuk-heading-m">Change an existing organisation</h2>

        <p></p>

        <a class="govuk-button govuk-button--start govuk-!-mt-r2 govuk-!-mb-r8" href="#" role="button">Start now</a>

      </div>
    </div>

  </main>
</div>

{% endblock %}
